<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [186]:
# Your code here
from random import randint
list1 = [randint(1,100) for i in range(1,11)]
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)
addition = 0
for i in list1:
    addition +=i
print(addition)
print(addition/len(list1))

[6, 7, 7, 20, 53, 53, 62, 69, 74, 97]
[97, 74, 69, 62, 53, 53, 20, 7, 7, 6]
448
44.8

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [187]:
import string
import re

sen1 = input("Enter first string: ")
sen2 = input("Enter second string: ")

a = re.findall(r"[\w']+|[.,!?;:]", sen1)
b = re.findall(r"[\w']+|[.,!?;:]", sen2)

print("First list:",a)
print("Second list:",b)

print("\nFollowing are common")
for word in a:
    for other in b:
        if word.lower() == other.lower():
            print(word)
  
for word in a:
    for other in b:
        if word.lower() == other.lower() and word not in string.punctuation:
            print(word)
  
vowels = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
for letter in one:
    if letter.lower() in vowels:
        vowels[letter.lower()] += 1

print("\nVowel frequency ",vowels)

Enter first string: i think you never met her.
Enter second string: but i dont think so.
First list: ['i', 'think', 'you', 'never', 'met', 'her', '.']
Second list: ['but', 'i', 'dont', 'think', 'so', '.']

Following are common
i
think
.
i
think

Vowel frequency  {'a': 5, 'e': 1, 'i': 5, 'o': 2, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [188]:
# Your code here
import math
print("r    " "V")
for r in range(1,11):
    v = 4/3 * math.pi* r**3
    print(r,v)

r    V
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923254
4 268.082573106329
5 523.5987755982989
6 904.7786842338603
7 1436.7550402417319
8 2144.660584850632
9 3053.6280592892786
10 4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

# (1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

In [192]:
import pandas as pd
import statistics
house = pd.read_csv(r'C:\Users\preet\Downloads\info5731-fall2021-main\info5731-fall2021-main\assignments\Assignment1_denton_housing.csv')
print(house.head())

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [193]:
# number of ocupied houses
allotted_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year
diff_house = [list(allotted_houses['value'].values)[loop1] - list(allotted_houses['value'].values)[loop1+1]\
              for loop1 in range(len(allotted_houses)-1)]
diff_house = sorted(diff_house)    # sorting in ascending order
diff_house

[-5091, -2622, -1565, -1404, 303, 795]

# (2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

2008  30%   70%                          
2009 ----- -----
2010 ----- -----
2011 ----- -----
2012 ----- -----
2013 ----- -----
2014 ----- -----

In [194]:

unique_years = sorted(list(house['year'].unique()))   # legging list of unique year number# number of ocupied houses
allotted_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# number of vacant houses
vacant_houses = house[house['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = allotted_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df

,year,Vacant House,Occupied House,Percent of Vacant House,Percent of Occupied House
0,2008,4483,36711,10.882653,89.117347
1,2009,3583,35916,9.071116,90.928884
2,2010,3635,41007,8.142556,91.857444
3,2011,4213,40704,9.379522,90.620478
4,2012,3013,42108,6.677600,93.322400
5,2013,4215,43673,8.801788,91.198212
6,2014,2814,46295,5.730111,94.269889

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:

                          Year    Value
Vacant Housing Units      -----   -----
Occupied Housing Units    -----   -----

# (3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:

                          Year    Value
Vacant Housing Units      -----   -----
Occupied Housing Units    -----   -----

In [195]:
# the highest number of vacant housing units
max_vacant_houses = max(house[house['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
vacant_houses


# the highest number of Occupied housing units
max_allotted_houses = max(house[house['title_field'] == 'Occupied Housing Units'].value)
allotted_houses = allotted_houses[allotted_houses['value'] == max_allotted_houses]
allotted_houses

   year             title_field  value
2  2014  Occupied Housing Units  46295

# (4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [196]:
# number of ocupied houses
t_houses = house[house['title_field'] == 'Total Housing Units'].sort_values(by=['year'])
print("Harmonic Mean is % s " % (statistics.harmonic_mean(t_houses['value'])))

Harmonic Mean is 44398.28543969185