<a href="https://colab.research.google.com/github/preetham3216/preetham_INFO5731_fall2021/blob/main/In_class_exercise_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
len ("preetham")

8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [61]:
# write your answer here
from collections import Counter
c=Counter('google.com')
c

Counter({'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3})

(3) Write a Python program to sum all the items in a list. (4 points)

In [9]:
# write your answer here
list=[1,2,3,4]
sum(list)

10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [21]:
# write your answer here
string='restart'
char = string[0]
string = string.replace(char, '$')
string = char + string[1:]
string

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [4]:
# write your answer here
a = int(input())
b = int(input())
S = 3.14*(1 + a/b)**3
print(S)

2
3
14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [23]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [24]:
# write your answer here
t=(1,2,3)
element=1
if element in t:
  print(True)

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [62]:
# write your answer here
set_minmax = {25, 35, 10, 65}
maximum = max(set_minmax)
print(maximum)
minimum = min(set_minmax)
print(minimum)

65
10

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [80]:
# write your answer here
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
import random
random.shuffle(studnet_list)

chunk_size = 6
list_chunked = [studnet_list[i:i + chunk_size] for i in range(0, len(studnet_list), chunk_size)]
print(list_chunked)

[['hn0145', 'nm0547', 'py0080', 'ri0094', 'pn0159', 'rrk0058'], ['at0768', 'bk0301', 'dy0091', 'pc0353', 'yye0005', 'vl0135'], ['ttp0037', 'msp0174', 'at0739', 'mn0426', 'ds0761', 'tv0119'], ['rs0850', 'dd0420', 'ss1995', 'spk0057', 'snd0097', 'hc0439'], ['sg0940', 'mv0299', 'rak0120', 'pk0339', 'vmb0067']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [56]:
from collections import Counter
list=[1,2,3,4,4]
for key,i in Counter(list).items():
  if i > 1:
    print(key)

4

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [58]:
# write your answer here
from datetime import date, timedelta

def allsundays(year):
   d = date(year, 1, 1)                    # January 1st
   d += timedelta(days = 6 - d.weekday())  # First Sunday
   while d.year == year:
      yield d
      d += timedelta(days = 7)

for d in allsundays(2021):
   print(d)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26